*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}
.navcontainer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px 100px;
    opacity: 0.8;
}
.logo,.navlist > a{
    color: white;
    opacity: 1;
}
.logo{
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;
}
.navbar{
    margin-top: 5px;
}
.navlist{
    display: inline-block;
    padding: 15px;
}
.navlist > a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    opacity: 1;
}
.navlist:hover > a{
    color:#fccb06;
    font-weight: 500;
}
.navlist .home{
    color: #fccb06;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
/* --------------------------------------------Section A--------------------------------------------------------- */
.acontainer{
    padding: 180px 0;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/service/header-inner-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ap1{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.ap2{
    font-size: 20px;
}
.ap1,.ap2{
    color: white;
}


/* --------------------------------------------SECTION---------------------------------------------------------
----------------------------------------------B------------------------------------------------- */
.bcontainer{
    padding: 130px 60px;
    background-color: #f3f3f3;
}
.bcardcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bcard{
    width: 350px;
}
.bimg{
    width: 350px;
    height: 280px;
    overflow: hidden;
}
.bcimg{
    transition: all 0.5s;
    width: 100%;
    height: 100%;
}
.bcontain{
    padding: 50px;
}
.bcp1{
    font-size: 30px;
    transition: all 0.5s;
    margin-bottom: 20px;
}
.bcp4{
    margin: 20px 0 30px 0;
}
span,span i{
    color: #727272;
}
span{
    margin-right: 20px ;
}
.bcp5{
    background-color: black;
    padding: 10px 20px;
    display: inline-block;
    transition: all 0.5s;

}
.bcp5 a{
    color: #727272;
    text-decoration: none;
}
.bcp5:hover{
    opacity: 0.8;
}
.bcard:hover .bcimg{
    transform: scale(1.3);
}
.third{
    width: 349px;
    height: 388px;
}
.bcp1:hover{
    color: #fccb06;
}
/* --------------------------------------------SECTION---------------------------------------------------------
----------------------------------------------L------------------------------------------------- */

.lcontainer{
    padding: 40px ;
}
/* --------------------------------------------FOOTER--------------------------------------------------------- */

.footcontainer{
    background-color:black;
    color: #727272;
    padding: 150px 100px;
}
.footcard{
    display: flex;
    justify-content: space-evenly;
}

.divfoot1,.divfoot2,.divfoot3,.divfoot4{
    width: 243px;
    height: 290px;
}
.df1h1{
    font-size: 50px;
    color: white;
    margin-bottom: 30px;

}
.df2h1,.df3h1,.df4h1{
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
}
.divfoot2 p a,.divfoot3 p a{
    text-decoration: none;
    color: #727272;
}
.divfoot1 p,.divfoot2 p,.divfoot3 p,.divfoot4 p{
    margin-bottom: 20px;
}
.divfoot2 p:hover a,.divfoot3 p:hover a{
    color: white;
}
.divfoot4 p span{
    color: white;
}
.fd4p6 i:hover{
    color: #fccb06;
}
.fd4p6 i{
    transition: all 0.5s;
    color: white;
    margin-right: 30px;
}
.footp1{
    padding: 30px;
    text-align: center;
    background-color: #202020;
    color:lightgray;
}
/* --------------------------------------------MEDIA QUERY--------------- */
@media only screen and (max-width: 600px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .navcontainer{
        display:block;
    }
    header{
        position: static;
    }      
    .footcard{
        flex-direction: column;
        align-items: center;
    }
    .bcard{
        width: 300px;
    }
    .bimg{
        width: 300px;
    }
    .bcontainer{
        padding: 0px;
    }
    .bcardcontainer{
        flex-direction: column;
        align-items: center;
    }
}
