*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}
.navcontainer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px 100px;
}
.logo,.navlist > a{
    color: black;
    opacity: 1;
}
.logo{
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;
}
.navbar{
    margin-top: 5px;
}
.navlist{
    display: inline-block;
    padding: 15px;
}
.navlist > a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    opacity: 1;
}
.navlist:hover > a{
    color:#fccb06;
    font-weight: 500;
}
.navlist .home{
    color: #fccb06;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
/* --------------------------------------------Section A--------------------------------------------------------- */
.acontainer{
    padding: 180px 0;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/service/header-inner-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ap1{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.ap2{
    font-size: 20px;
}
.ap1,.ap2{
    color: white;
}


/* --------------------------------------------SECTION---------------------------------------------------------
----------------------------------------------B------------------------------------------------- */
.divform{
    width: 729px;
    height: 455px;
}
textarea{
    width: 100%;
    border: none;
    margin-bottom: 20px;
    background-color: #f3f3f3;
    padding-top: 10px;
}
.bcp1{
    font-size: 30px;
    margin-bottom: 20px;
}
.bcp2{
    color: #727272;
    margin-bottom: 50px;
}
.divform{
    background-color: white;
    padding: 50px 40px;
}
.bcontainer{
    background-color: #f3f3f3;
    padding: 130px 60px;
}
input[type="text"]{
    width: 100%;
    height: 40px;
    background-color: #f3f3f3;
    border: none;
    margin-bottom: 20px;
}
input:focus,textarea:focus{
    outline-color: #fccb06;
}
input[type="submit"]{
    padding: 10px 40px;
    font-size: 17px;
    background-color: #fccb06;
    border: none;
    color: white;
}
.contactform{
    width: 729px;
    margin: 20px 40px 0 0;
}

iframe{
    width: 359px;
    height: 300px;
}
.aip1,.aip6{
    font-size: 30px;
    margin-bottom: 20px;
}
.aip1,.aip6,.aip2,.aip5{
    margin-bottom: 20px;
}
.aip3{
    margin-bottom: 30px;
}
.aip4{
    margin-bottom: 10px;
}
.aip6{
    margin-bottom: 50px;
}
.aip3,.aip4,.aip5{
    color: #727272;
}
.aip2{
    font-size: 20px;
}
.bcardcontainer{
    display: flex;
    justify-content: space-around;
}
/* --------------------------------------------SECTION---------------------------------------------------------
----------------------------------------------L------------------------------------------------- */

.lcontainer{
    padding: 40px ;
}
/* --------------------------------------------FOOTER--------------------------------------------------------- */

.footcontainer{
    background-color:black;
    color: #727272;
    padding: 150px 100px;
}
.footcard{
    display: flex;
    justify-content: space-evenly;
}

.divfoot1,.divfoot2,.divfoot3,.divfoot4{
    width: 243px;
    height: 290px;
}
.df1h1{
    font-size: 50px;
    color: white;
    margin-bottom: 30px;

}
.df2h1,.df3h1,.df4h1{
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
}
.divfoot2 p a,.divfoot3 p a{
    text-decoration: none;
    color: #727272;
}
.divfoot1 p,.divfoot2 p,.divfoot3 p,.divfoot4 p{
    margin-bottom: 20px;
}
.divfoot2 p:hover a,.divfoot3 p:hover a{
    color: white;
}
.divfoot4 p span{
    color: white;
}
.fd4p6 i:hover{
    color: #fccb06;
}
.fd4p6 i{
    transition: all 0.5s;
    color: white;
    margin-right: 30px;
}
.footp1{
    padding: 30px;
    text-align: center;
    background-color: #202020;
    color:lightgray;
}
/* --------------------------------------------MEDIA QUERY--------------- */
@media screen and (min-width:320px) and (max-width:480px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .navcontainer{
        display:block;
    }
    header{
        position: static;
    }      
    .footcard{
        flex-direction: column;
        align-items: center;
    }
    .bcardcontainer{
        flex-direction: column;
        align-items: center;
    }
    iframe{
        width: 250px;
        height: 250px;
    }
    .bcontainer{
        padding: 0 0 0 40px;
    }
    .divform,.contactform{
        width: 290px;
    }
    .contactform,.addinfo{
        margin-bottom: 50px;
    }
}